.dot {
    min-width: 20px;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: #fff;
    border-radius: 1000px;
    display: flex;

}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
    aspect-ratio: 1/1;
    min-width: 50%;
}

.loader>.dot:nth-child(1) {
    animation: loading 1s linear 0s infinite normal none;
}

.dot:nth-child(2) {
    animation: loading 1s linear .25s infinite normal none;
}

.dot:nth-child(3) {

    animation: loading 1s linear .5s infinite normal none;
}



@keyframes loading {


    50% {
        opacity: 0%;
    }

}